## 正规方程
$\theta=\left(X^{T} X\right)^{-1} X^{T} \vec{y}$

In [3]:
# 到目前为止，我们都在使用梯度下降算法，但是对于某些线性回归问题，正规方程方法是更好的解决方案
# 使用单变量线性回归作为例子
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
data = pd.read_csv('ex1data1.txt', names=['population', 'profit'])
data.head()

   population   profit
0      6.1101  17.5920
1      5.5277   9.1302
2      8.5186  13.6620
3      7.0032  11.8540
4      5.8598   6.8233

In [6]:
data.insert(0, 'ones', 1)

In [7]:
data.head()

   ones  population   profit
0     1      6.1101  17.5920
1     1      5.5277   9.1302
2     1      8.5186  13.6620
3     1      7.0032  11.8540
4     1      5.8598   6.8233

In [13]:
# 构造数据集
X = data.iloc[:, 0:-1]
y = data.iloc[:, -1]

# X.head()
# y.head()

X = X.values
y = y.values

In [16]:
X.shape, y.shape

((97, 2), (97,))

In [17]:
y = y.reshape(97, 1)

In [18]:
y.shape

(97, 1)

正规方程（Normal Equation） $\theta=\left(X^{T} X\right)^{-1} X^{T} \vec{y}$

In [21]:
# 定义正规方程函数
def normalEquation(X, y):
    theta = np.linalg.inv(X.T@X)@X.T@y # np.linalg 是 np 的线性代数库，里面的 inv 是求逆方法
    return theta

In [22]:
theta = normalEquation(X, y)
print(theta)

[[-3.89578088]
 [ 1.19303364]]

+ 跟之前的使用 梯度下降求出来的 theta 值是差不多的
+ 正规方程和梯度下降各有其优点和缺点，具体看 [对比](http://www.ai-start.com/ml2014/html/week2.html#header-n6)